@model DeliveryCORE.Models.RestauranteInsertViewModel

@{
    ViewData["Title"] = "Cadastrar";
}

<h1 style="margin-top: 70px; padding-top: 70px;">Cadastre seu restaurante!</h1>

<hr />

<div class="row">
    <div class="col-md-4">

        <form asp-action="Cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="NomeFantasia" class="control-label"></label>
                <input asp-for="NomeFantasia" class="form-control" />
                <span asp-validation-for="NomeFantasia" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="CNPJ" class="control-label"></label>
                <input asp-for="CNPJ" class="form-control" />
                <span asp-validation-for="CNPJ" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar para o Índice</a>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            var cnpjMask = $("#CNPJ");
            cnpjMask.mask('99.999.999/9999-99', { reverse: false });

            var telefoneMask = $("#Telefone");
            telefoneMask.mask('(00) 00000-0009');
            telefoneMask.blur(function (event) {
                if ($(this).val().length == 15) {
                    telefoneMask.mask('(00) 00000-0009');
                }
                else {
                    telefoneMask.mask('(00) 0000-0009');
                }
            });
        });
    </script>
}