
@{
    ViewData["Title"] = "Index";
}

<h1>Restaurantes Cadastrados</h1>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Nome</th>
    </tr>
    @foreach (var item in ViewBag.Restaurantes)
    {
<tr>
    <td>@item.ID</td>
    <td>@item.Nome</td>
    <td>
        @Html.ActionLink("Atualizar", "Atualizar", new { id = item /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Excluir", "Excluir", new { id = item /* id=item.PrimaryKey */ })
    </td>
</tr>
    }
</table>

<!DOCTYPE html>