@model DeliveryCORE.Models.Insert.ProdutoInsertViewModel

@{
    ViewData["Title"] = "Cadastrar";
}

<h1 style="margin-top: 80px; padding-top: 80px;">Cadastre seu produto!</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cadastrar">
            <div class="form-group">
                <label asp-for="RestauranteID" class="control-label">Selecione um Restaurante</label>
                <select class="form-control" id="RestauranteID" name="RestauranteID" asp-for="RestauranteID">
                    @foreach (var item in ViewBag.Restaurantes)
                        {
                            <option value="@item.ID">@item.Nome</option>
                        }
                </select>
                <span asp-validation-for="RestauranteID" class="text-danger"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar para o Índice</a>
</div>

@section scripts{
    <script type="text/javascript">

         $(document).ready(function () {
            var cpfMask = $("#Cpf");
            cpfMask.mask('000.000.000-00', { reverse: false });

             var moneyMask = $("#Valor");
             moneyMask.mask('000,00', { reverse: false });
         });
    </script>
}